/*intro.html*/
.intro{
    box-sizing: border-box  ;
}
.signUpBody{
    height: 100%;
    background-image: url("../css/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.imageContainer{
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.btn{
    background-color: transparent;
    border: 1px white solid;
    font-weight: bold;
    width: 100px;
}
.bgimg{
    background: radial-gradient(rgb(147, 29, 124), rgb(77, 20, 94));    
}
#lab-code{
    margin-bottom: 5rem;
}

/*Index.html css */
.imgindex {
    margin-top: 8rem;
    height: 100rem;
}

/*Sign Up */
.iconsflag{
    margin-top: 15px;
}
.navico{
    margin-top: 2rem;
}
hr{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
p{
    margin-bottom: 4rem;
}
.btnSignUp{
    width: 100%;
}
